<div id="shitItDiv">
<%= form_tag({:action => :shit_it}, :remote => true) do %>
    <%= autocomplete_field_tag 'autocomplete_synonym', '', synonyms_autocomplete_synonym_name_path, 
:update_elements => {:shit_id => '#id'}, :class => "whatIsShit" %>
	<%= hidden_field_tag 'id' ,14 %>
	
	<%= submit_tag t(:shit), :class => 'submitShit' %>
<% end %>
 
  <br /> 
  <p class="notice"><%= flash[:notice] %></p>
  
<!--
  <script type='text/javascript'>
    $('#autocomplete_synonym').bind('railsAutocomplete.select', function(event, data){
    /* Do something here */
     $('#shit_id').attr(data.item.id);
	});
  </script>
-->
</div>

