<div id="top-shit">
<h1><%= t(:top_10_shits)%></h1>
<table class="top_table">
<% @topshits.each do |shit| %>
  <tr>
    <td class="graph-td"><%= link_to image_tag("icon-graph.png", :border=>0), week_timeline_by_shit_path(shit.id), :class => 'graph-icon' %></td>
    <td><%= shit.name %></td>
    <td class="shit_it_cell_total">
      <span id="shit-total-id<%=shit.id.to_s%>"><%= shit.total %></span>
    </td>
    <td class="shit_it_cell"><%= link_to image_tag("turd.jpg", :border=>0), { :controller => 'main', :action => 'shit_by_id', :id => shit.id }, :remote => true%></td>
  </tr>
<% end %>
</table>
</div>

