<div id="shits-list">
<h1>Список концептов</h1>

<table width="100%">
  <tr>
    <th>Название</th>
    <th>Описание</th>
    <th>Есть синонимы?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shits.each do |shit| %>
 <tr>
    <td><%= shit.name %></td>
    <td><%= shit.description.to_s.truncate(70) %>
    <td>
      <span>
      <%= '✔' unless shit.synonyms.empty? %>
      <%= '✘' if shit.synonyms.empty? %>
      </span>
    </td>
    <td><%= link_to 'Посмотреть', shit %></td>
    <td><%= link_to 'Редактировать', edit_shit_path(shit) %></td>
    <td><%= link_to 'Удалить', shit, :confirm => 'Уверен?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<br />
<%= paginate @shits %>
<%= link_to 'Cоздать концепт', new_shit_path %>
</div>