<p id="notice"><%= notice %></p>
<h1><%= name_with_synonyms(@shit) %></h1>
<h2>Говно <%= @shit.total.to_s %> раз!</h2>
<div class="descriptionDiv">
  <p>
  <% if @shit.description.nil? %>
  <%= @shit.capitalized_name + " - настолько говно, что про него даже всем лень написать"%>
  <% else %>
  <%= @shit.description %>
  <% end %>
  <%= image_tag @shit.photo.url() %>
  </p>
</div>

<br />
  Описание - говно?
  <%= link_to "Отредактируй!", edit_shit_path(@shit)%>
<br />
<%= link_to 'Edit', edit_shit_path(@shit) %> |
<%= link_to 'Back', shits_path %>
