<%= form_for(@synonym) do |f| %>
  <% if @synonym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@synonym.errors.count, "error") %> prohibited this synonym from being saved:</h2>

      <ul>
      <% @synonym.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
    <tr>
      <td>Название</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Концепт</td>
      <td><%= f.collection_select :shit_id, Shit.all, :id, :name %></td>
    </tr>
	<tr>
	  <td>Релевантность</td>
	  <td><%= f.select :relevance, (1..4).to_a.reverse %></td>
	</tr>
  </table>
  </br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
