<div id="synonyms-list">

	<h1>Список синонимов</h1>
	<table>
		<tr>
			<th>Название</th>
			<th>Концепт</th>
			<th>Релевантность</th>
			<th></th>
		</tr>
	
  <% i=1 %>
	<% @synonyms.each do |synonym| %>
		<tr class="trow">
			<td id="name_<%=i%>"><%= synonym.name %> </td>
			<td id="concept_<%=i%>"><%= link_to concept_in_list(synonym.shit), synonym.shit %></td>
			<td id="relevance_<%=i%>"><%= image_tag("relevance#{synonym.relevance}.png") %></td>
			<td class="hideable-images-td">
        <span id="show_<%=i%>"><%= link_to image_tag("show_icon.png", :border=>0), synonym %></span>
        <span id="edit_<%=i%>"><%= link_to image_tag("edit_icon.png", :border=>0), edit_synonym_path(synonym) %></span>
        <span id="delete_<%=i%>"><%= link_to image_tag("delete_icon.png", :border=>0), synonym, :method=>:delete, :remote => true%></span>
			</td>
		</tr>
    <% i=i+1 %>
	<% end %>
	</table>
	
	<br />
	<%= paginate @synonyms %>
	<br />
	<%= link_to t(:synonym_create), new_synonym_path %>
</div>
