<div id="synonyms-list">
	
	<script type="text/javascript">
  $(function() {
		$('.hideable-images-td img').hide();
		$('.trow').hover(
			function () {
				$('.hideable-images-td img', this).fadeIn('fast');
			},
			function () {
				$('.hideable-images-td img', this).fadeOut('fast');
			});
	});
	</script>

	<h1>Список синонимов</h1>
	<table>
		<tr>
			<th>Название</th>
			<th>Концепт</th>
			<th>Релевантность</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	
	<% @synonyms.each do |synonym| %>
		<tr class="trow">
			<td><%= synonym.name %> </td>
			<td><%= link_to concept_in_list(synonym.shit), synonym.shit %></td>
			<td><%= image_tag("relevance#{synonym.relevance}.png") %></td>
			<td class="hideable-images-td">
				<%= link_to image_tag("show_icon.png", :border=>0), synonym %>
				<%= link_to image_tag("edit_icon.png", :border=>0), edit_synonym_path(synonym) %>
				<%= link_to image_tag("delete_icon.png", :border=>0), synonym, confirm: 'Are you sure?', method: :delete %>
			</td>
			<td></td>
		</tr>
	<% end %>
	</table>
	
	<br />
	<%= paginate @synonyms %>
	<%= link_to image_tag("add_icon.png", :border=>0), new_synonym_path %>
</div>
