<!DOCTYPE html>
<html>
<head>
  <title>GovnoRf</title>
  <%= stylesheet_link_tag    "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="contentDiv" align="center">
    <ul id="main_actions">
      <li><%= link_to 'Сравнение говн' %></li> 
      <li><%= link_to 'Баттхерт недели' %></li>
      <li><%= link_to 'Топ лист', :controller => "main", :action => "topshit" %></li>
    </ul>
    <br />
<%= yield %>
</div>

</body>
</html>
