<!DOCTYPE html>
<html>
<head>
  <title>Сорта говна</title>
  <%= stylesheet_link_tag    "style" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "jquery", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navigationDiv">
    &nbsp
    <ul class="navigation horizontal">
      <li><%= link_to 'Сортаговна.ру', root_url, :id => 'logo' %></li>
      <li><span id="logo">|</span></li>
      <li><%= link_to 'Сравнение говн', compare_url %></li> 
      <li><%= link_to 'Бурление недели' %></li>
      <li><%= link_to 'Топ лист', :controller => "main", :action => "topshit" %></li>
    </ul>
  </div>  
  <div id="mainDiv">
    <%= yield %>
  </div>
  <div id="footerDiv">
    &copy; Semki ltd.
  </div>
</body>
</html>
