<!DOCTYPE html>
<html>
<head>
  <title>Сорта говна</title>
  <%= stylesheet_link_tag    "style" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "jquery", "application" %>
  <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min.js', 'autocomplete-rails.js', 'rails.js'  %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.16.custom.css' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='lang'><%= switch_language_link%></div>
  <div id="navigationDiv">
    &nbsp
    <ul class="navigation horizontal">
      <li><%= link_to t(:sortagovna_ru), root_url, :id => 'logo' %></li>
      <li><span id="logo">|</span></li>
      <li><%= link_to t(:compare_shits), compare_url %></li> 
      <li><%= link_to t(:week_rating), weekrating_url %></li>
      <li><%= link_to t(:toplist), topshit_url %></li>
      <li><%= link_to t(:shits_editor), shits_path %></li>
      <li><%= link_to t(:synonyms_editor), synonyms_path %></li>
    </ul>
  </div>  
  <div id="mainDiv">
    <%= yield %>
  </div>
  <div id="footerDiv">
    &copy; Semki
  </div>
</body>
</html>
